@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    --title-color: rgb(190, 107, 109);
}

html, body{
    height: 100%;
    width: 100%;
}

.header{
    /* display: grid;
    grid-template-columns: 35% 65%; */
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title, #img-div{
    position: absolute;
}

#title{
    font-size: 108px;
    color: var(--title-color);
    z-index: 1;
    animation: 1s ease-in 0s 1 fadeInAnimation;
}

#img-div{
    width: 80%;
    animation: 1s ease-in 0s 1 fadeInAnimation;
}

#img{
    width: 100%;
    height: 100%;
    border: 10px solid var(--title-color);
}

/* .header-child{ */
    /* height: 100vh; ensures child doesn't exceed view height */
    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* animation: 1s ease-in 0s 1 fadeInAnimation; */
/* } */

/* .header-text{ */
    /* animation: 1s ease-in 0s 1 slideInFromLeft; */
/* } */

/* .header-text-heading{
    font-size: 72px;
} */

/* .header-text-subheading{
    font-size: 23px;
} */

/* .header-img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 36% 50%; */
    /* animation: 1s ease-in 0s 1 slideInFromRight; */
/* } */

.section{
    background-color: aliceblue;
    height: 100vh;
    width: 75%;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.section-child{
    width: 50%;
    display: flex;
    align-items: center;
}

.section-image, .section-text{
    width: 80%;
    margin: 0 auto;
}

.section-text{
    line-height: 26px;
    text-align: justify;
    text-justify: inter-word;
}

.final-section{
    position: relative;
}

.final-section-child{
    width: 100%;
    justify-content: center;
}

.final-section-image{
    width: 80%;
}

.final-section-text{
    position: absolute;
    width: 60%;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(73, 67, 67, 0.4);
}

.footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: cadetblue;
}

/* MEDIA QUERIES */
@media screen and (max-width:1132px) {
    .header{
        display: flex;
        flex-wrap: wrap;
    }

    .header-child{
        height: 50vh;
    }

    .header-img{
        width: 100%;
        height: 100%;
        object-fit: none;
        object-position: 66% 10%;
    }

    .section{
        height: 200vh;
        width: 90%;
        padding-top: 30px;
    }

    .section-child{
        width: 100%;
        height: 100vh;
    }

    .final-section{
        height: 100vh;
    }

    .final-section-child{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .final-section-image{
        width: 90%;
    }

    .final-section-text{
        position: static;
        width: 90%;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        background-color: rgba(219, 205, 205, 0.4);
    }
}


/* ANIMATIONS */

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}